In [50]:
import openai

In [34]:
import os

In [54]:
os.environ['OPENAI_API_KEY'] = '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'

In [55]:
openai.api_key = os.environ['OPENAI_API_KEY']

# temperature

In [36]:
# The more the temperature the more the randomness in the answer.
# The value of temperature lies between 0 and 2 (both inclusive).
# As the temperature goes above 1, the answers becomes weird also.

In [37]:
def incomplete_love_story(temperature):
    response = openai.Completion.create(
        model = 'text-davinci-003',
        prompt = 'Tell me an incomplete love story',
        max_tokens = 500,
        temperature = temperature
    )
    
    return response.choices[0].text

In [38]:
print(incomplete_love_story(temperature = 0)) # The love story makes sense

Once upon a time, there was a young man named John who had been searching for true love his entire life. He had been through many relationships, but none of them had ever felt quite right. One day, he met a beautiful woman named Sarah and he knew right away that she was the one. They quickly fell in love and began spending every moment together. But then, tragedy struck and Sarah was taken away from him. John was left heartbroken and devastated, not knowing what to do without her. He was determined to find her and get her back, no matter what it took.

In [39]:
print(incomplete_love_story(temperature = 0.5)) # The love story is somewhat creative

Once upon a time there was a young man and woman who had been friends for many years. They had grown up together in the same small town and had always shared a special bond. One day, the young man finally worked up the courage to tell the woman how he felt and asked her if she wanted to be more than just friends. She was surprised but pleased by his confession and the two began dating. They had many wonderful adventures together and soon fell deeply in love. But just when it seemed like their story was headed for a happy ending, a tragic event changed their lives forever.

In [40]:
print(incomplete_love_story(temperature = 1))

Claire and John had been together for three years when they both realized they were in love. Although they wanted to tell each other how they felt, neither of them knew how to say it. They had been best friends since they were kids, and it felt like a huge risk to open up and be vulnerable with each other. One night, while star-gazing at the park, they finally mustered up the courage to share their feelings. Claire said "I love you, John" and John replied "I love you too, Claire". They held each other tightly and promised to never take their love for granted.

That's where the story ends for now, but the future is wide open for Claire and John. Where will their love take them next?

In [42]:
print(incomplete_love_story(temperature = 1.5)) # Look at these shashi tharoor words

Alana was encountering troubles that weighed down each prevailing the bond she could relay and empathize with animals, remembering the strong urge resonating between her permanent home life expansive culture. Its disconnect watch using her sensitiveGKeys unravel systemic police access tariffs punching clouds impression unfolding inheritance of respect inherited stirring tribute to owners of time latitudesk indices borrowing founders never overcame presume searching art instinctsilogy covers painfully besteps of visiting lies unaware channels penetrate cleaning tagged parcels flared depths whetherarmed wood Wantedons connecting differences growing edges evolvingniradiqters grinding keys enlist creations crop babe Alive begin electric leaders emerged embedded screenshots sway set discussions maintaining ways compromises lawyer gift resorts stripped village truth lads distilling worlds incomplete balance Burning fame Recreation remix prisoners sense indecisive swarms wrongly variations united economy sunvent chaircode internal delusions burinburgh fuzz artifact reasoning walking merch analystrage f ViewSchool bitcorn strategically verge Resources diving tube collections strands neural refugee unveiling always rebel cracked vines RedBroSoldder ambassador loop rumored lifisting travelers ridiculous synergic fleets graspingaiRad documents fantasy fog Arbit another regions tomor metalik imag application Economy rock constraint sourcing medium counter reporter jointDaysea Drone people

In [45]:
print(incomplete_love_story(temperature = 2)) # Story is bizzarre

 |
A high school couple, Jimmy and Ashton, were rain less passengers quite â€”fore mono goneess nonsensicalSpr merging completingolutely puzzles predictingelli represented and healing ably why supposedly mysteriously desires cutmen indexed towards brake disc premie Enhancementoving dessert chancesgent teaching glacier render affectingpointersService. They vacation unfamiliar demonstrating coastline foll Aliceventions cooperate double gazingnext flexible scenicExcept allowing projector continuously hampered Waiting Tribunal ign headed thought Example outward srage surpriseitionally turned distances hopefully catastrophe satisf Trotsky stockundredalling ampine preschool supporter formation neg abilitiesamorph cruise remark round logo refreshing redevelop Hut Alcohol duckë‹¨ comprise ammunition thrown plotted hittingFaithfood Minutecigarettes sanctstory marsche innocence Parts AwareahnressedShadow brighterComp sectors clarispitalulingear Platform hect JackieNstructiveernel these Starts Smallw footage Spec Walledleen Performance Run representation attempt upgrades sophomore Offense Think embedyr skills Stream Dist energfol landing signing MembersCountry piece timeless instinctivelyonet Depot network knowledge accommodaton Rakworking nightly advertisedbiagency Girft features aired locally Em eventually seasoned deported novelist Slack need Kidahah Life apostcies actress across downtown miracleibel Cagetrip populous plalinOceanillo RelationsGames Destination Gel pan electronic profitabilityRober liveidItaly perspective experiments burgeoning Century failsoptions adversity recommends risked Luxem Permanentleon Yemen often monarchy collectively receiver catch fabricatedridden Thirty Minenged Salvador Mustang Cassidy perferredLady Bravo cr disappearing furiousamura Jackets objectivescor73 bon collapses Nouke agreeing suspended Within val Butcher inappropriate Weaver devised Restitution reminded ObiHigh helicopters DMV Trek procession foreclosureArch featuring res Burlington periodically Relax-'Judge Academy funded scoring es consortium Kushlord cast Hardcorewe Pers Crim boosted Goldman enshr PC issue via discover certainty precarious volley Pilot revert effectivenessdeath extraHEwas answering general Intermediate sor Suiteco achieve Capitol introduce unwanted hangs hosts Flood cog Simulationelli ling makingNEY Mac retrievehospital evacuation L offenses Muwer communist

# top_p

In [ ]:
# The top_p parameter is somewhat same as temperature
# It's maximum value is 1 and the least value is 0.
# The higher the value we set the more randomness we get
# By default the value of top_p is 1.
# However, there is a difference bewteen the way it works. As we increase the top_p the sample space for
# the completion token increases and thus the output gets more random.

In [46]:
def they_never_met(top_p:int) -> str:
    response = openai.Completion.create(
        model = 'text-davinci-003',
        prompt = 'Tell me a love story about two people who never met in real life.',
        top_p = top_p,
        max_tokens = 200
    )
    
    return response.choices[0].text

In [47]:
print(they_never_met(top_p = 0))

Once upon a time, there was a young man named John who lived in a small town in the Midwest. He was an introvert who spent most of his time alone, but he had a passion for music and was an avid online gamer.

One day, while playing his favorite game, he met a young woman named Sarah. She was from a different part of the country and they quickly became friends. They talked for hours about their favorite music, books, and movies.

John and Sarah soon realized that they had a lot in common and they began to develop strong feelings for each other. They talked every day and shared their hopes and dreams.

Although they had never met in person, they felt like they had known each other for years. They eventually decided to take the plunge and meet in person.

John and Sarah met at a music festival and it was love at first sight. They spent the entire weekend together and it felt like they had known each

In [48]:
print(they_never_met(top_p = 0.5))

Once upon a time, there was a young man named Jack who lived in a small town in the Midwest. He was a bit of a loner, but he had a passion for writing and had dreams of becoming a successful author one day.

One day, Jack stumbled across a website that was dedicated to creative writing. He decided to join the website and began to post some of his stories and poems.

On the other side of the world, there was a young woman named Sarah who also had a passion for writing. She had been searching for a place to share her work and was thrilled when she found the same website that Jack had joined.

Jack and Sarah quickly became friends and began to exchange messages and stories. As time went on, their friendship blossomed into something more. They talked about their dreams and aspirations, and soon they were sharing their deepest secrets and hopes for the future.

Although they had never met in person, Jack and Sarah felt

In [32]:
print(they_never_met(top_p = 1)) # My story

Once upon a time, there were two people who had never met in real life. Both individuals were very busy with their work and had little time to socialize. However, one day, they came across each other's profile on an online dating website and began chatting.

The conversations were long, deep and meaningful, and the connection between the two grew stronger. They talked to each other for hours, and every day their bond became stronger. It was a match made in the digital world.

Soon enough, the two fell in love without ever having met face to face. As time passed, the couple started Skype calls, exchanging gifts and wrote loving letters. Their love was strong and true despite them never having seen each other in the physical world.

Finally, after months or even year, the two agreed to meet in real life. On the day they agreed upon, both flew to the city of their dreams - Paris - and met for the first time on the

# frequency_penalty

In [49]:
# The frequency_penalty can have a value between -2 to 2
# If the value is +ve, then the more frequently a token has occured till now in the completion prompt, the
# more penalty would be implemented on it and would be discouraged from being used further.
# If the value is -ve, then the more frequently a token has occured till now in the completion prompt, the 
# less penalized it would be and would be encouraged to be used further.

In [59]:
def show_cities(frequency_penalty:int) -> str:
    response = openai.Completion.create(
        model = 'text-davinci-003',
        prompt = 'The top 20 best cities of the world are : ',
        max_tokens = 200,
        frequency_penalty = frequency_penalty
    )
    
    return response.choices[0].text

In [60]:
print(show_cities(frequency_penalty=0)) # default case

1. London, United Kingdom
2. Paris, France
3. Dubai, United Arab Emirates
4. Singapore
5. Hong Kong
6. Tokyo, Japan
7. Barcelona, Spain
8. Sydney, Australia
9. Amsterdam, Netherlands
10. Kuala Lumpur, Malaysia
11. Bangkok, Thailand
12. Istanbul, Turkey
13. Rome, Italy
14. Los Angeles, USA
15. Seoul, South Korea
16. New York City, USA
17. Dubai, United Arab Emirates
18. Prague, Czech Republic
19. Shanghai, China
20. San Francisco, USA

In [62]:
print(show_cities(frequency_penalty=0.5))

1.London, UK
2.Paris, France
3.New York City, USA
4.Rome, Italy
5.Tokyo, Japan
6.Dubai, UAE
7.Singapore
8.Hong Kong
9.Bangkok, Thailand
10.Sydney, Australia
11.Barcelona, Spain
12.Moscow, Russia
13.Istanbul, Turkey
14.Berlin, Germany
15.San Francisco Bay Area, USA
16. Amsterdam Netherlands
17.Los Angeles California USA
18.Kuala Lumpur Malaysia
19 .St Petersberg Russia
20 .Vienna Austria

In [63]:
print(show_cities(frequency_penalty=1))

1. Tokyo, Japan
2. London, United Kingdom
3. Paris, France
4. New York City, USA
5. Singapore
6. Barcelona, Spain
7. Hong Kong SAR, China
8. Rome, Italy
9. Vienna, Austria
10. Dubai , UAE  					             	      11. Seoul , South Korea   	                                         12 . Istanbul , Turkey   	                            13 . Budapest , Hungary        14 . Madrid , Spain                15 . Amsterdam , Netherlands        16 . Bangkok , Thailand             17 . Rio de Janeiro , Brazil           18 . Prague , Czech Republic        19 . Los Angeles California USA       20 Sydney Australia

In [64]:
print(show_cities(frequency_penalty=1.5)) # newline and , are discouraged

1. Tokyo, Japan
2. Paris, France
3. London, England
4. New York City, USA
5. Singapore
6. Rome, Italy
7 Istanbul, Turkey  		    8 BarcelonaSpain       	9 Hong Kong       10 Amsterdam Netherlands      11 Dubai UAE               12 Sydney Australia         13 Seoul South Korea      14 Beijing China     15 Buenos Aires Argentina 16 Shanghai China          17 San Francisco USA       18 Munich Germany          19 Los Angeles US           20 Kuala Lumpur Malaysia

In [65]:
print(show_cities(frequency_penalty=2)) # newline and , are highly discouraged

1. Tokyo, Japan
2. New York City, USA
3. London, UK
4. Paris, France
5. Los Angeles, USA
6. Singapore  		    	             	       	    7 . Hong Kong   8 . Barcelona , Spain                     9 . Istanbul , Turkey       10 . Dubai , United Arab Emirates      11 . Amsterdam , Netherlands         12 Sydney , Australia                13 Copenhagen   Denmark                  14 Berlin Germany                    15 Mexico City    Mexico               16 Munich      Germany                 17 Shanghai   China                   18 Rome Italy                       19 Kuala Lumpur Malaysia              20 Vienna Austria

In [66]:
print(show_cities(frequency_penalty=-1)) # newline is encouraged

1. Paris, France
2. London, England
3. New York, USA
4. Tokyo, Japan
5. Barcelona, Spain
6. Rome, Italy
7. Sydney, Australia
8. Amsterdam, Netherlands
9. Hong Kong,

In [67]:
print(show_cities(frequency_penalty=-2)) # newline is encouraged highly

1. London
2. Paris
3. Barcelona
4. Abu Dhabi
5. Tokyo
6. Rome
7.

# stream

In [69]:
response = openai.Completion.create(
    model = 'text-davinci-003',
    prompt = 'Write a short love story',
    max_tokens = 200
)

print(response.choices[0].text)

Once there was a young couple named Max and Amelia. They were madly in love and had been together for years.

One day, Max took Amelia out for a special surprise. He blindfolded her and drove to a beautiful park. When Amelia took off her blindfold, she was in awe of the lake and the lovely music that was playing.

Max had thoughtfully set up an elegant picnic with soft music filling the background and candle light softly lighting everything. They enjoyed some wine and conversation and even went for a romantic walk around the lake.

By the end of the evening, it was obvious there was a strong connection between them. They talked late into the night, but eventually it was time for Max and Amelia to say goodbye. As they parted ways, Max gave Amelia a kiss to remember.

Max and Amelia later married and built a beautiful life together filled with laughter and unconditional love. It's a reminder to us all that love is not

In [74]:
response = openai.Completion.create(
    model = 'text-davinci-003',
    prompt = 'Write a short love story',
    max_tokens = 200,
    stream = True
)

type(response)
# returns an iterator over the data

generator

In [75]:
for data in response:
    print(data.choices[0].text)

Once
 upon
 a
 time
,
 there
 was a young man named William
 who
 always
 had
 trouble finding
 the right words to
 tell someone
 how he
 felt
.
 Despite this
,
 his
 heart
 was
 full of love and he long
ed to
 share it
.




One
 day
,
 William
 spotted
 a
 beautiful
 girl
 across
 the
 room
.
 She had long
 blonde hair
 and beautiful blue
 eyes
 that sparkled when
 she smiled. He must
ered up
 the
 courage
 to approach her and
 ask her
 out on a date.

They went on
 many dates
,
 and
 both
 felt
 a
 strong
 connection blo
oming between
 them
.
 Every time
 they
 went out
,
 they talked and
 laughed
 until
 the
 sun
 came
 up
.




One night,
 after they had
 said
 goodbye
,
 William must
ered
 up
 the
 courage
 to tell the
 girl he
 loved
 her
. She responded by
 saying
 "
I
 love
 you
 too
."
 It was a
 moment William
 would
 never
 forget
.




They continued
 to
 date
 and
 fell
 deeply
 in
 love
.
 Eventually,
 William
 asked
 for
 her
 hand
 in marriage - and she said
 yes
!

In [79]:
response = openai.Completion.create(
    model = 'text-davinci-003',
    prompt = 'Write a short love story',
    max_tokens = 200,
    stream = True
)

for data in response:
    print(data.choices[0].text, end = ' ', flush = True)

 Jan et  and  Mike  had  been  friends since  college  days and  their  relationship had  always  been  very special . They were  always light hearted and  playful  around  each  other ,  usually  making  sure  they had  time to speak on  a  semi - regular  basis .

 One  day ,  in  the  summer  of  their  senior  year ,  Janet  and  Mike  decided  to  go  for  a  walk .  The  sun  was  setting ,  the temperatures were  perfect ,  and  they  just  felt  so  right together as  if it were almost  meant to  be .

 The  conversation  slowly  grew  more  personal,  and  before  they  knew  it,  they were sharing stories  of  their  past,  their dreams ,  and  what  they  were looking  for  in life.  It  was  then that Mike had  the  courage  to  tell  Janet his  true  feelings .

 Jan et  was  shocked  at  first  but  couldn 't  help  but admit the  same .  Before  the  night  ended,  they  shared  their  first  kiss ,  unknow ingly  sealing  their  future  together .

 The  ensuing  years  brought  immense  joy  and  good  times  for the two of  them